{% extends "base.html" %}

{% block title %} cars {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <div class="cars-image">
        <div class="cars-text">
        </div>
    </div>
    <div class="cars-image2">
        <div class="cars-text2">
        </div>
    </div>
    <div class="cars-image3">
        <div class="cars-text3">
        </div>
    </div>
    <div class="cars-image4">
        <div class="cars-text4">
        </div>
    </div>
    <div class="cars-image5">
        <div class="cars-text5">
        </div>
    </div>
    <div class="cars-image6">
        <div class="cars-text6">
        </div>
    </div>
    <h2  class="bodytype_text">ボディタイプから探す</h2>
    <div class="image-container">
        
        <div class="image-item">
            <div class="item-text5">
                <p>ミニバン</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text5">
                <p></p>
            </div>
        </div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
        <div class="image-item"></div>
    </div>

{% endblock %}
