<!DOCTYPE html>
<html lang="ja">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>

<body>

    <hr>
    <h2>システムログイン</h2>
    <form action="/loginck" method="POST" enctype="multipart/form-data">
        <table border="1">
            <tr>
                <td>ユーザーID</td>
                <td><input type="text" name="userid" value="{{rec.userid}}"></td>
                <td>
                    <font color="red">{{etbl.userid}}</font>
                </td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td><input type="text" name="userps" value="{{rec.userps}}"></td>
                <td>
                    <font color="red">{{etbl.userps}}</font>
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="ログイン">
    </form>
    <br>
    <hr>
</body>

</html>